#cpp helper files
/.vs
/CppProperties.json

#node modules
/_Computer-Science/Algorithms/node_modules
/_Computer-Science/Algorithms/package-lock.json
/_Web-Development/Back-End/Node-Postgres/node_modules

#SQL Secret
/_Web-Development/Back-End/Node-Postgres/secret.json
/_Web-Development/Back-End/Node-Postgres/.ENV

#Path to getting hired Notes
/_Interview-Skills/gettingHired.md

#Builds
*.exe

#csharp solutions
/_Languages/C#/*.sln
/_Languages/C#/*.csproj
/_Languages/C#/*.user
/_Languages/C#/.vs
/_Languages/C#/bin
/_Languages/C#/obj